#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.add-icon-fab {
  margin: 10px;
}

.text-to-add-task {
  margin: 5px;
  font-size: 0.7rem;
}

.no-task {
  margin: 5px;
  font-size: 1.2rem;
}

.task-card {
  height: 8rem;
  margin: 3vh;
  border-radius: 15px;
  background-color: #353535d4;
  width: 100%;
}

.task-description {
  height: 5rem;
  border-top: solid 1px #ffffff63;
  border-bottom: solid 1px #ffffff63;
  font-size: 0.8rem;
}

.task-date {
  text-align: end;
  display: grid;
  margin: 5px;
}

.remove-task {
  position: sticky;
  left: 90%;
}
