<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Tarefas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="taskList ==''">
    <ion-row class="no-task">
      Você ainda não possui nenhuma tarefa
    </ion-row>
    <ion-row class="text-to-add-task">
      Clique no + para adicionar uma tarefa
    </ion-row>
  </ion-row>

  <ion-row *ngIf="taskList">
    <ion-row class="task-card" *ngFor="let task of taskList; let i=index">
      <ion-col>
        <ion-row class="task-title"> {{task.title}} <ion-icon (click)="removeTask(task.id, i)" class="remove-task"name="trash-outline"></ion-icon></ion-row>
        <ion-row class="task-description">
          {{task.description}}
        </ion-row>
        <ion-row class="task-date">{{task.data | date: 'dd/MM/yyyy'}}</ion-row>
      </ion-col>
    </ion-row> 
  </ion-row>

  <ion-fab class="add-icon-fab"vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon (click)="goToNewTask()"name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
