<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Tarefas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-row>
      <ion-col text-center><ion-icon class="icon-Task" name="clipboard-outline"></ion-icon></ion-col>
    </ion-row>
    <ion-row class="Welcome">Bem vindo a sua Lista de Tarefas</ion-row>
    <ion-row class="row-botton"><IonButton class="enter-button" (click)="goToTaskList()">Entrar</IonButton></ion-row>  
</ion-content>
