#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.icon-Task {
  text-align: center;
  width: 100%;
  height: 30vh;
  margin-top: 10vh;
}

.Welcome {
  margin: 0 3rem;
  text-align: center;
  font-size: 1.6rem;
}

.enter-button {
  background: #45454885;
  padding: 8px 11px;
  border-radius: 15px;
  font-size: 2rem;
  margin: auto;
}

.row-botton {
  margin-top: 2rem;
}
