<ion-header>
  <ion-toolbar>
    <ion-title>Crie sua Tarefa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-row class="margin-text">Titulo:</ion-row>
      <ion-input [(ngModel)]="title" class="input-title" placeholder="Digite o titulo da tarefa"></ion-input>
      <ion-row class="margin-text" >Descrição:</ion-row>
      <ion-textarea [(ngModel)]="description" rows="15" class="input-description" placeholder="Digite aqui a descrição da sua tarefa"></ion-textarea>
      <ion-row>
        <IonButton (click)="goBack()" class="cancel-button">Cancelar</IonButton>
        <IonButton (click)="newTask()" class="create-button">Criar</IonButton>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-content>
