#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.input-title {
  margin: 5px;
}

.input-description {
  margin: 5px;
  height: 60vh;
}

.margin-text {
  margin-top: 1rem;
}

.cancel-button {
  background: #45454885;
  padding: 6px 11px;
  border-radius: 15px;
  font-size: 1.4rem;
  margin: auto;
}

.create-button {
  background: #45454885;
  padding: 6px 32px;
  border-radius: 15px;
  font-size: 1.4rem;
  margin: auto;
}
